@charset "UTF-8";
.arrows {
  width: 60px;
  height: 72px; }

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; }

@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */ }

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */ }

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */ }

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.tile {
  position: relative;
  width: 100%;
  height: 100%; }

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: transform 0.1s ease-out; }

.title {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important; }

.btn {
  background-size: 100%;
  background-image: linear-gradient(90deg, #6f77d0 0%, #8e6fd0 100%);
  border: transparent;
  position: relative;
  z-index: 100; }
  .btn::before {
    border-radius: inherit;
    background-image: linear-gradient(0deg, #6f77d0 0%, #8e6fd0 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: 300ms; }
  .btn:hover {
    transform: scale(1.05);
    color: whitesmoke; }
    .btn:hover::before {
      box-shadow: 12px 10px 40px -8px #8e6fd0, -10px 10px 40px -8px #006fff, -10px -7px 40px -8px #006fff;
      opacity: 1; }

.btn-primary {
  color: whitesmoke; }

.btn-primary:focus {
  color: whitesmoke; }

body {
  background: linear-gradient(261deg, #13224f 0%, #042c9c 100%);
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important; }

.splash-logo {
  width: 50%;
  height: auto;
  position: relative; }

.not-visable {
  opacity: 0; }

#raid:hover {
  background-image: linear-gradient(90deg, #6f77d0 0%, #8e6fd0 100%);
  transform: scale(1.2); }

#raid:not(:hover) {
  background-image: linear-gradient(90deg, #6f77d0 0%, #8e6fd0 100%); }

#raid:hover em {
  color: white; }

#raid:not(:hover) em {
  color: white; }

#raid2 {
  transition: all 0.5s ease !important; }

#raid2:hover {
  background-color: #8e6fd0 !important;
  transform: scale(1.2);
  transition: all 0.5s ease !important; }

#raid2:not(:hover) {
  background-color: transparent !important;
  transition: all 0.5s ease !important; }

#raid2:hover em {
  color: white; }

#raid2:not(:hover) em {
  color: white; }

.header-main {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: 300ms ease; }

.menuAtTop {
  opacity: 0; }

.atTop {
  padding-top: 4em;
  transition: 300ms ease; }

.isSticky {
  background-color: #121212;
  transition: 300ms ease; }

::-webkit-scrollbar {
  width: 20px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box; }

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf; }

.zoom-cycle {
  animation: zoom-cylce-animation 3s ease infinite; }

@keyframes zoom-cylce-animation {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.3, 1.3); }
  100% {
    transform: scale(1, 1); } }
.debug-red {
  border: solid 5px red; }

.debug-orange {
  border: solid 5px orange; }

.debug-purple {
  border: solid 5px purple; }

.debug-green {
  border: solid 5px green; }

.debug-blue {
  border: solid 5px #8168ff; }
