.title {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important; }

.btn {
  background-size: 100%;
  background-image: linear-gradient(90deg, #6f77d0 0%, #8e6fd0 100%);
  border: transparent;
  position: relative;
  z-index: 100; }
  .btn::before {
    border-radius: inherit;
    background-image: linear-gradient(0deg, #6f77d0 0%, #8e6fd0 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: 300ms; }
  .btn:hover {
    transform: scale(1.05);
    color: whitesmoke; }
    .btn:hover::before {
      box-shadow: 12px 10px 40px -8px #8e6fd0, -10px 10px 40px -8px #006fff, -10px -7px 40px -8px #006fff;
      opacity: 1; }

.btn-primary {
  color: whitesmoke; }

.btn-primary:focus {
  color: whitesmoke; }
